@model Team4_Final_Project.Models.ViewModels.TransferViewModel

@{
    ViewData["Title"] = "Confirm your Transfer";
}
<div>
    <h4>Is this Transfer Correct?</h4>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="InitiateTransfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.ToAccountID)
            @Html.HiddenFor(m => m.FromAccountID)
            @Html.HiddenFor(m => m.Date)
            @Html.HiddenFor(m => m.Amount)
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FromAccountID)
                </dt>

                <dd class="col-sm-10">
                    @ViewBag.FromAccountName
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ToAccountID)
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.ToAccountName
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">

                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>

            </dl>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</>

<div>
   
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>