@model IEnumerable<Team4_Final_Project.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Withdrawal">Withdrawal</a>
    <a asp-action="Deposit">Deposit</a>
    <a asp-action="Transfer">Transfer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionStatus)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.TransactionID">Details |</a>
                    @if (!User.IsInRole("Customer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.TransactionID">Approve |</a>
                        <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
