@model Team4_Final_Project.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<!--TODO: Do I need this? May just be convenient-->

<a asp-action="Index" asp-controller="Transactions" asp-route-id="@Model.AccountID">Transactions Page for more Details</a>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>

<!--TODO: Check if this works and what needs to be added-->
<table class="table table-sm table-primary">
    <tr>
        <th>Transaction Number</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Notes</th>
        <th>Status</th>
    </tr>
    @foreach (Transaction trans in Model.Transactions)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => trans.Number)</td>
            <td>@Html.DisplayFor(modelItem => trans.Type)</td>
            <td>@Html.DisplayFor(modelItem => trans.Amount)</td>
            <td>@Html.DisplayFor(modelItem => trans.Notes)</td>
            <td>@Html.DisplayFor(modelItem => trans.Status)</td>

        </tr>
    }
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
